
body {
    background: #990033;
}

.chessboard {
    border-collapse: collapse;
    table-layout: fixed;
    background-clip: content-box;
    background-color: #FAFAFA;
    min-width: 570px;
    min-height: 570px;
}

.square {
    width: 1.0vw;
}

.void {
    background-color: #990033;
}

.power-up {
    background-color: #1a8cff;
}

.black-tile {
    background-color: #262626;
}

.white-tile {
    background-color: #ffffff;
}

}
