body {
    background: #24425b;
}

.title {
  font-family: "Karla";
  font-size: 6em;
  color: #ffffff;
  position: absolute;
  top: 15%;
  right: -5%;
  transform: rotate(90deg);
}

.chessboard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-100%, -50%);
    border-collapse: separate;
    table-layout: fixed;
    table-layout: fixed;
    background-clip: content-box;
    background-color: #24425b;
    min-width: 700px;
    min-height: 700px;
}

.square {
    width: 1.0vw;
}

.void {
    background-color: #355C7D;
}

.power-up {
    background-color: #1a8cff;
}

.black-tile {
    background-color: #edac93;
}

.white-tile {
    background-color: #ffe8dd;
}

.player-scores {
    position: absolute;
    margin: 0;
    top: 10%;
    left: 53%;
    padding: 10px;
}

}
